h1,
h2 {
    color: white;
    background-color: rgb(66, 66, 182);
    font-size: 45px;
    text-align: center;
    display: block;
    max-width: 900px;
    padding: 20px;
    margin: 10px auto;
    border:aquamarine groove 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: black groove 10px;
}

.description,
li {
    text-align: justify;
    font-size: 25px;
    font-weight: 500;
    background-color: aquamarine;
    display: block;
    max-width: 900px;
    padding: 20px;
    margin: 20px auto;
    border: rgb(66, 66, 182) groove 10px;
    list-style: none;
}

button {
    display: block;
    margin: 0 auto;
    background-color: aquamarine;
    font-size: larger;
    font-weight: bold;
    padding: 7px 7px;
}

a {
    text-decoration: none;
    color: black;
}
