h1,
h2 {
    color: white;
    background-color: rgb(66, 66, 182);
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.description,
li {
    text-align: justify;
    font-size: large;
    font-weight: 500;
    background-color: aquamarine;
}

button {
    display: block;
    margin: 0 auto;
    background-color: aquamarine;
    font-size: larger;
    font-weight: bold;
    padding: 7px 7px;
}

a {
    text-decoration: none;
    color: black;
}
