h1 {
    background-color: rgb(66,66,182);
    color: white;
    text-align: center;
}

li {
    display: block;
    margin-top: 20px;
    text-align: center;
}

button {
    background-color: aquamarine;
    font-size: larger;
    font-weight: bold;
    padding: 7px 7px;
}

a {
    text-decoration: none;
    color: black;
}

